body {
    font-family: Arial, sans-serif;
  }
  
  .IonPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .IonHeader {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .IonToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .IonContent {
    width: 80%;
    margin-top: 20px;
  }
  
  .IonButton {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .IonButton:hover {
    background-color: #45a049;
  }
  
  .IonButton img {
    height: 24px;
    margin-right: 10px;
  }
  
  .IonLabel {
    display: block;
    margin: 10px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sectionio {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 350px) {
    .sectionio {
      flex-direction: column;
    }
  }

  .textio{
    margin: 5px 5px 5px 5px;
    padding: 10px;
  }


  