
.login-form-container {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group-button {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='submit'] {
  width: 80%;
  padding: 10px;
  background-color: #59A7BA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #59A7BA;
  text-align: center;
  align-items: center;
}
